.titulo{
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 4px #2E2E2E, 0 0 4px #2E2E2E, 0 0 4px #2E2E2E, 0 0 4px #2E2E2E, 0 0 4px #2E2E2E;
    color: #0040FF !important;
}

body{
    background-color:white;
}

hr{
    color: #6E6E6E;
    background-color: #D8D8D8;
    height: 5px;
}
.logo{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    margin-top: 5px ;
}

* {
   padding: 0px;
   margin: 0px;
}

#header{
    margin:auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #D8D8D8;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: #0101DF;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}

.nav li a:hover{
    background-color: grey;
}

.nav > li{
    float:left;
}

.nav li ul{
    display: none;
    position:absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position:relative;
}

.nav li ul li ul{
    right: -140px;
    top: 0px;
}

table{
    border: solid;
    color:#0040FF;
    //table-layout: fixed !important;

}

td{
    text-align: center;
    //width: 20px;
    color:#000000;
}


html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 100px;
	clear:both;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color:#0040FF;
        font-size: 9px;

}

h2{
    text-align: center;
    color: #0040FF;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #6E6E6E;
}

#container-arg {
    height: 800px;
    min-width: 510px;
    max-width: 700px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
